.feeds {
  margin-bottom: -50px;
}
.feedsidebar {
  background: #fff;
  width: 270px;
  padding: 5%;
  position: fixed;
  top: 3.5em;
  left: -100%;
  transition: 350ms;
  height: 100%;
}
.feedsidebar.active {
  left: 0;
  transition: 350ms;
}
.sortby,
.feeds__link,
.allfeed,
.feeds__topStudios,
.feeds-ul {
  border: none;
  outline: none;
  padding: 1% 5% 1% 5%;
  color: black;
  position: relative;
}
.sortby {
  color: #984b48;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3em;
}
.feeds-ul > li {
  padding: 5% 0;
}
hr {
  background: #fff !important;
  width: 85%;
  color: black;
  padding: 1% 4% 1 4%;
  margin: 0 auto;
}
.dragbtn {
  position: relative;
  left: 270px;
  top: 270px;
  outline: none;
  border: none;
  padding: 4%;
  background: #fff;
  border-radius: 0 10px 10px 0;
  transition: 350ms;
}
.dragbtn.active {
  left: 0;
  transition: 250ms;
}
@media screen and (min-width: 768px) {
  .feedsidebar {
    left: 0;
    padding: 30px;
    position: sticky;
    height: 100vh;
    width: 270px;
    top: 50px;
  }
  .dragbtn {
    display: none;
  }
}
