.filterContainer {
  height: 50px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
}
.filterContainer__desktop {
  display: none;
}
.filterContainer__mobileUl {
  display: flex;
  justify-content: space-around;
  justify-self: center;
  align-items: center;
  padding: 15px 0;
}
.filterContainer__mobileUl > li {
  display: flex;
  font-size: 12px;
  text-align: center;
  align-items: center;
}
.filterContainer__mobileUlLi {
  width: 100%;
  padding-left: 15px;
}
.filterContainer__mobileModal {
  background: #fff;
  width: 250px;
  height: 70%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 10%;
  bottom: -100%;
  transition: 850ms;
  overflow: auto;
}
.filterContainer__mobileModal.active {
  bottom: 20%;
  transition: 350ms;
}
.filterContainer__ulheader {
  display: grid;
  grid-template-columns: 10px 1fr 3fr 1fr;
  align-items: center;
  border-bottom: 1px solid #bbb;
}
.category {
  grid-column: 2/3;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 16px;
}
.borderright {
  grid-column: 3/4;
  border: none;
  border-right: 1px solid #bbb;
  justify-content: flex-end;
  text-align: end;
}
.filterContainer__ulheaderIcon {
  grid-column: 4/5;
  width: 90%;
}
.filterContainer__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px 0px 8px 28px;
  height: 60px;
}
.filterContainer__modal > span {
  padding: 5px 0 0 20px;
}
.filterContainer__modal > a {
  font-size: 14px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  color: #bbb;
  text-align: center;
  align-items: center;
}
.filterContainer__body {
  padding: 5%;
  background-color: #fff;
}
.filterContainer__bodyContainer {
  margin-bottom: 5%;
}

.filterContainer__imageContainer {
  width: 100%;
  /* height: 250px; */
  border-radius: 10px 10px;
  margin-bottom: 5%;
}

.filterContainer__imageContainer > img {
  width: 90%;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 10px 10px;
}
.add-btn {
  width: 40px;
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 35px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #000;
  background: #fff;
  position: relative;
  left: 14rem;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding-top: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
}
.filterContainer__bodySpan {
  color: #bbb;
}

@media screen and (min-width: 1060px) {
  .filterContainer__mobile {
    display: none;
  }
  .filterContainer__desktop {
    display: flex;
    padding-left: 5%;
    width: 100%;
  }
  .filterContainer__modal {
    padding: 18px 12px;
    font-size: 10px;
  }
}
.filterContainer__desktopCategory {
  font-weight: 600;
  padding: 18px 0;
  font-size: 16px;
  align-items: center;
  padding-right: 2%;
}
.filterContainer__desktopPriceSortBy {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-left: 7%;
  width: 100%;
  justify-content: space-between;
}
.filterContainer__desktopPriceSortBy > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterContainer__desktopPriceSortBy > li > span {
  padding-right: 1%;
}
