.bloc-tabs {
  display: flex;
  margin-left: 3.5em;
}
.tabs {
  padding: 0 5px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  border-radius: 10px 10px;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color: #000;
  line-height: 30px;
  font-size: 14px;
  border: none;
}
.active-tabs {
  padding: 5px 25px;
  background: #212121;
  color: #fff;
  border-bottom: 1px solid transparent;
  border-radius: 20px 20px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
}
.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}
.content-tabs {
  flex-grow: 1;
}
.tab-content {
  background: white;
  padding: 20px;
  display: none;
}
.active-content {
  display: block;
}
.exhibition__container {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px 10px;
}
.exhibition__image-container {
  border-radius: 10px 10px;
  width: 100%;
}
.exhibition__image-container > img {
  border-radius: 10px 10px;
  width: 100%;
  object-fit: contain;
}
.tab__pageNumber {
  display: flex;
  height: 40px !important;
  align-items: center;
  position: relative;
  right: -60px;
  padding: 5px;
}
.tab__pageNumber > li {
  padding: 10px;
  border: 1px solid #999;
  cursor: pointer;
}
.exhibition__description {
  position: relative;
  top: -6em;
  color: #fff;
  right: -2em;
}
.exhibition__containerWrapper {
  width: 45%;
  border-radius: 10px 10px;
  margin-right: 20px;
  margin: 0 auto;
}
.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
}
.currrentPageActive {
  background: #000;
  color: #fff;
}
.next-prev {
  background: #000;
  color: #fff;
  width: 10%;
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  align-items: center;
}
.next-prev > span {
  color: #999;
}
