.slider {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slider__image {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}
.slider__rightArrow {
  position: absolute;
  /* top: 50%; */
  right: 5px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slider__leftArrow {
  position: absolute;
  /* top: 50%; */
  left: 5px;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
